@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Poppins:ital,wght@0,400;0,900;1,400;1,900&family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffe4d6;
  font-family: "Roboto" sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  padding: 0 50px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0;
}

label {
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  color: #b0578d;
}

textarea {
  border: 1px solid #facbea;
  width: 100%;
  height: 100px;
  display: block;
  font-family: inherit;
  font-size: 15px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fdf0f0;
}

textarea:focus {
  outline: none;
}

.tag {
  margin: 5px;
  background-color: #facbea;
  border: 1px solid #a9a9a9;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}

.tag.highlight {
  color: #fff;
  background: #b0578d;
}

@media only screen and (max-width: 675px) {
  .container {
    max-width: 100%;
  }
}
